---
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");

let { tags } = Astro.props
tags = tags ?? [...new Set(allPosts.flatMap((post: any) => post.data.tags))];
---

<div class="tags">
{tags.map((tag) => <a class="tag" href={`/astro-tutorial/tags/${tag}`}>{tag}</a>)}
</div>

<style>
    a {
        color: #00539F;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
</style>